<template name="showtree">

    <div class="tree-actions">
        <button id="createFolder1" type="button">
            <i class="glyphicon glyphicon-asterisk"></i>
        </button>
        <button id="createNode1" type="button">
            <i class="glyphicon glyphicon-file"></i>
        </button>
        <button id="renameNode1" type="button">
            <i class="glyphicon glyphicon-pencil"></i>
        </button>
        <button id="removeNode1" type="button">
            <i class="glyphicon glyphicon-remove"></i>
        </button>
        <input type="text" value="" id="searchNode1" placeholder="Search...">
    </div>
    <div id="tree1"></div>
</template>

